body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background: rgb(207, 102, 32);
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

header img{
    width: 100px;
    margin-left: 45%;
    margin-top: 1%;
    border-radius: 60%;
}

/* menu
quitar formato a las listas */
nav{
    background-color: darkorange;
}

nav ul{
    list-style: none;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

/* convertimos el menu de vertical a horizontal */
nav ul li{
    display: inline;
}

/* quitamos los espacios a los lados y modifcamos el tamaño del texto */
nav ul li a{
    color: aliceblue;
    font-size: 18px;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
}

nav ul li a:hover
{
    background-color: cyan;
    color: black;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    font-size: 2em;
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

h3{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
}

/* dar formato a la parte textual de la pagina */
.contenedor{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* #cont-principal
{
    float: left;
    width: 70%;
    box-sizing: border-box;
    padding: opx 30px;
}

#barra-lateral
{
    float: right;
    width: 30%;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    box-sizing: border-box;
} */

section{
    width: 80%;
    margin: 0 auto;
}

article{
    padding: 20px 0 20px 0;
    border-bottom: 1px dotted darkgray;
}

article h2{
    float: left;
    border-bottom: 2px solid coral;
    padding-bottom: 5px;
    line-height: 1.3em;
    font-size: 1em;
    text-transform: uppercase;
}

article p{
    margin-left: 15%;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkorange;
}

article p, article ul{
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkorange;
    line-height: 1.3em;
    margin-bottom: 1.6em;
}

article ul li{
    margin-left: 15px;
    list-style: square;
}

article img{
    height: 200px;
    width: 200px;
    padding: 10px;
}

footer{
    margin-top: 2em;
    padding: 1em;
    width: 100%;
    background: rgb(207, 102, 32);
    color: azure;
    text-align: center;
}

footer a:link, footer a:visited{
    color: azure;
}

footer a:hover{
    text-decoration: underline;
    color: orange;
} 